*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 3px dotted black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-top: 10px;
}
nav h1{
    font-family: "Libertinus Serif", serif;
    font-weight: 600;
    font-style: normal;
}
nav>img{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}   
.imgform{
    width: 15px;
    height: 15px;
}
.forms{
    display: flex;
    align-items: center;   
    padding: 10px; 
}
#total{
    margin-top: 10px;
}
#listaProdutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    gap: 20px;
    justify-content: space-between;
    width: 100%; 
}
button{
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}